* {
    box-sizing: border-box;
    margin: 0;
}

.form--section {
margin-bottom: 0.7rem;
}

.add--form {
    display: grid;
    grid-template: 35px 35px 35px 35px 35px / auto 3fr;
    gap: 0.7rem;
    margin-top: 0.7rem;
}

.search--form {
    display: grid;
    grid-template: 30px / 3fr auto;
    gap: 0.7rem;
    margin-bottom: 1.05rem;
}

.add--form--input {
    grid-column: 1 / -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    text-indent: 1%;
}

.search--form--input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    text-indent: 1%;
    height: 35px;
}

.add--form--button,
.search--form--button,
.product--card--button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

/* .add--form--button {
    grid-column: 1 / -1;
} */

.add--form--button,
.search--form--button {
    height: 35px;
    background-color: rgb(57, 57, 57);
}

.product--card--button {
    background-color: rgb(231, 48, 48);
    border: 1px solid rgb(231, 48, 48);
    height: 35px;
}

.search--form--button img,
.add--form--button img,
.product--card--button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.product--card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.product--card--image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product--card--details {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 0.5rem;
    align-items: start;
}

.products--list {
    margin-top: 0.7rem;
    gap: 0.7rem;
    display: grid;
    grid-template: auto / repeat(auto-fill, minmax(250px, 1fr));
}

select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: 1px solid #a4a4a4;
    text-indent: 1%;
    grid-column: 1/ -1;
    height: 35px;
}